# pip install -r requirements.txt
fuzzywuzzy
geopandas
graphviz
keras
levenshtein
matplotlib
matplotlib
nbformat
numpy
openpyxl
pandas
pip
plotly
pydataset
pyinstaller
python-gedcom
requests
scikit-learn
scipy
scrapy
selenium
SpeechRecognition
streamlit
streamlit-aggrid
yfinance
