# pip install -r requirements.txt
geopandas
#gedcom
keras
levenshtein
matplotlib
matplotlib
nbformat
numpy
openpyxl
pandas
pip
plotly
pydataset
pyinstaller
requests
scikit-learn
scipy
scrapy
selenium
SpeechRecognition
streamlit
streamlit-aggrid
yfinance

