# pip install -r requirements.txt
fuzzywuzzy
geopandas
graphviz
levenshtein
matplotlib
nbformat
numpy
openpyxl
pandas
pip
plotly
pydataset
pyinstaller
python-gedcom
requests
scikit-learn
scipy
scrapy
selenium
sentence-transformers
SpeechRecognition
streamlit
streamlit-aggrid
thefuzz
translate
yfinance
pyttsx3
pypiwin32
